include ./mixins/navigation.pug

doctype html
html
  include includes/index-head.pug
  body.container-fluid
    #main-row.row
      #main-col.col-xs-12.col-lg-8.offset-lg-2
        #header
          .row.user-picture-row
          .row.name-row
            .col.d-flex.justify-content-center.align-items-center
              h1 Sergey Zakharchenko

        #navigation.row.navbar.justify-content-center
          +navigation(name)
        #content.row
          block content
        include includes/footer.pug
