//mixin links(collection)
//  each val in collection
//    p=val.title

doctype html
html
  include includes/index-head.pug
  body.container-fluid
    #main-row.row
      #main-col.col-xs-12.col-lg-8.offset-lg-2
        #header.row
          .col.d-flex.justify-content-center.align-items-center
            h1 Sergey Zakharchenko
        #navigation.row.navbar.justify-content-center
          ul.nav
            li.nav-item.mx-2
              a.nav-lin.active posts
            li.nav-item.mx-2
              a.nav-lin about
            li.nav-item.mx-2
              a.nav-lin contact
        #content.row
          block content
        include includes/footer.pug
