doctype html
html
  include includes/head.pug
  h1=title
  body
    #main.container-fluid
      #header.row
        h1 This is my header
      #navigation.row
        span about | posts | contact
      #content!= contents
  include includes/footer.pug

