body {
  #header {
    background-color: #2BBBAD;
    height: 200px;
  }
  #navigation {
    background-color: #4285f4;
    height: 50px;
  }
  #content {
    background-color: #aa66cc;
    height: 500px;
  }
}
