body {
  #header {
    .user-picture-row {
      background-color: salmon;
      height: 320px;
    }
    .name-row {
      background-color: #2BBBAD;
      height: 80px;
    }
  }
  #navigation {
    background-color: #4285f4;
    height: 50px;
  }
  #content {
    background-color: #aa66cc;
    height: 500px;
  }
}
